<<<<<<< HEAD
.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}


=======
.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}


>>>>>>> d1ef49bf3e0fdf241b80e713dfe446d77e56191b
