<<<<<<< HEAD
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aqua;
=======
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aqua;
>>>>>>> d1ef49bf3e0fdf241b80e713dfe446d77e56191b
}